html {
    scroll-behavior: smooth;
}

.bgImage {
    background: url(../images/felix-mooneeram-evlkOfkQ5rE-unsplash.png) center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

}

#play-button {
    margin-top: 10px;   
}

.hide-element {
    display: none;
}

#errorMessage {
    margin-top: 10px;
    margin-left: 20px;
    color: red;
    font-size: large;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
}


h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 100px;
}


.jumbotron > .container {
    margin-top: 50px;
}

.input-group {
    margin-top: 50px;
}

#film-search {
    height: 50px;
    border-radius: 35px 0px 0px 35px;
}

.btn-search {
    height: 50px;
    border-radius: 35px;
}

img {
    height: 600px;
}

.card {
    height: 400px;
    width: 400px;
}

.poster {
    margin: 10px 0px 40px 0px;
}

footer {
    text-align: center;
    background: #7a1128;
    height: 150px;
    color: white;
    margin: 30px 0 30px 0:
  }