.bgImage {
    background-image: url("../images/felix-mooneeram-evlkOfkQ5rE-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

}

#play-button {
    margin-top: 10px;    
}

.hide-element {
    display: none;
}

#errorMessage {
    margin-top: 10px;
    margin-left: 20px;
    color: red;
    font-size: large;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 100px;

}


.jumbotron > .container {
    width: 30%;
    margin-top: 50px;
}

.input-group {
    margin-top: 50px;
}

#film-search {
    height: 50px;
    width: 50px;
}

.btn-search {
    height: 50px;

}
