.bgImage {
    background-image: url("/images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}

#play-button {
    margin-top: 10px;    
}

.hide-element {
    display: none;
}

#errorMessage {
    margin-top: 10px;
    margin-left: 20px;
    color: red;
    font-size: large;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

.input-group {
    margin-top: 50px;
    /* width: 50%; */
}

#film-search {
    height: 50px;
    width: 50px;
}

.btn-search {
    height: 50px;

}
